@model BuyArt.DomainModels.Category

@{
  ViewBag.Title = "Delete";
}
<br />
<h2>Do you want to delete this category?</h2>
@using (Html.BeginForm("Delete", "Category", FormMethod.Post))
{
  @Html.HiddenFor(m => m.CategoryId)
  <div class="container">
    <ul>
      <li>
        @Html.LabelFor(m => m.CategoryId):
        @Html.DisplayFor(m => m.CategoryId)
      </li>
      <li>
        @Html.LabelFor(m => m.CategoryName):
        @Html.DisplayFor(m => m.CategoryName)
      </li>
    </ul>

    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.ActionLink("Cancel", "Index", "Category", new { @class = "btn btn-light" })
  </div>
}

